.signUpContainer {
  width: 100%;
  height: auto;
  margin-top: 5%;
}

.welTxt {
  display: block;
}

.joinTxt {
  color: #4f439a;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
}
.starTxt {
  color: #ad5da3;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding-left: 4px;
}

.femaleCheck {
  color: #7f7f7f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  margin: 15px 0 15px 0;
}

.checkbox {
  height: 18px;
  width: 18px;
  vertical-align: middle;
}

.countryInput {
  width: 100%;
  height: auto;
}

.img {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-left: 25px;
  border-radius: 5px;
  vertical-align: middle;
}

.linkedinTxt {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: justify;
  display: inline-block;
  margin-left: 10px;
}

.linkedinNfbContainer {
  width: 49%;
  height: auto;
  background-color: #4f439a;
  border-radius: 5px;
  /* display: inline-block; */
  padding: 9px 25px 9px 25px;
  vertical-align: middle;
  /* margin-right: 5px; */
}

.linkedinNfbContainer:first-child {
  float: left;
}

.linkedinNfbContainer:last-child {
  float: right;
}

.faceBookContainer {
  width: 49%;
  height: auto;
  background-color: #4f439a;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  margin-left: 5px;
}

.socialContainer {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
.nameContainer {
  width: 100%;
  height: auto;
  margin: 15px 0 15px 0;
}
.emailAddress {
  width: 100%;
  /* margin-right: 30px; */
  height: auto;
  border-radius: 5px;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-top: 15px;
}
.firstName {
  width: 49%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-right: 5px;
}

.lastName {
  width: 49%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-left: 5px;
}
.lastName:last-child {
  float: right;
}

.countrySelection {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(127, 127, 127, 0.5);
}

.dividingLineMain:before {
  content: "";
  position: absolute;
  width: 470px;
  border-bottom: 1px solid #c8c8c8;
  left: 30px;
  top: 10px;
}

.dividingLineMain:after {
  content: "";
  position: absolute;
  width: 586px;
  border-bottom: 1px solid #c8c8c8;
  /* right: 30px; */
  top: 10px;
}

.dividingLineMain {
  position: absolute;
  /* background: #fff; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 30px;
  height: 30px;
  text-align: center;
  font-family: semibold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.divideBase {
  position: relative;
  width: 100%;
  height: 30px;
}

.circle {
  height: 11px;
  width: 11px;
  /* background-color: #555; */
  border-radius: 50%;
  border: 1px solid #4f439a;
  display: inline-block;
}

.circleTxt {
  color: rgba(79, 67, 154, 0.5);
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  display: inline-block;
}

.termsNcondition {
  color: #1a1a1a;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}

.signUpButton {
  width: 100%;
  height: auto;
  background-color: #4f439a;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  /* margin-right: 5px; */
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
}

.logInTxt {
  color: #4f439a;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  display: inline-block;
}

.accountTxt {
  color: #ad5da3;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

.starInTxt {
  color: black;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

.minChar {
  margin-top: 15px;
}

fieldset {
  margin-top: 10px;
  border-top: 1px solid rgba(127, 127, 127, 0.5);
  border-left: none;
  border-bottom: none;
  border-right: none;
  text-align: center;
  width: 1200px;
  /* margin-left: 120px; */
  color: rgba(127, 127, 127, 0.5);
  font-size: 12px;
  font-weight: bold;
}
