.signUpContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0px 107px 0 200px;
}

.welTxt {
  display: block;
}

.joinTxt {
  color: #4f439a;
  font-family: bold;
  font-size: 22px;
  display: inline-block;
}
.starTxt {
  color: #ad5da3;
  font-family: bold;
  font-size: 22px;
  display: inline-block;
  padding-left: 4px;
}

.femaleCheck {
  composes: femaleCheck;
  margin: 15px 0 15px 10px;
  display: inline-block;
  color: #7f7f7f;
  font-family: bold;
  font-size: 14px;
}

.checkbox {
  height: 9px;
  width: 9px;
  vertical-align: middle;
  display: inline-block;
  outline: 2px solid #4f439a;
}

.countryInput {
  width: 100%;
  height: auto;
}

.img {
  height: 22px;
  width: 22px;
  display: inline-block;
  margin-left: 25px;
  border-radius: 5px;
  vertical-align: middle;
}

.backImg {
  height: 22px;
  width: 22px;
  margin-top: 16px;
  margin-right: 2px;
}

.linkedinTxt {
  color: #ffffff;
  font-family: semibold;
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  display: inline-block;
  margin-left: 10px;
}

.linkedinNfbContainer {
  width: 49%;
  height: auto;
  background-color: #4f439a;
  border-radius: 5px;
  padding: 9px 25px 9px 25px;
  vertical-align: middle;
  text-align: center;
}

.linkedinNfbContainer:first-child {
  float: left;
}

.linkedinNfbContainer:last-child {
  float: right;
}

.socialContainer {
  width: 100%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 50px;
}
.nameContainer {
  width: 100%;
  height: auto;
  margin: 0px 0 15px 0;
}
.inputBox {
  width: 100%;
  /* margin-right: 30px; */
  height: auto;
  border-radius: 5px;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-top: 15px;
}

.firstName {
  width: 49%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-right: 5px;
}

.lastName {
  width: 49%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-left: 5px;
}
.lastName:last-child {
  float: right;
}

.countrySelection {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: inline-block;
  border: 1px solid rgba(127, 127, 127, 0.5);
}

.circle {
  height: 11px;
  width: 11px;
  /* background-color: #555; */
  border-radius: 50%;
  border: 1px solid #4f439a;
  display: inline-block;
}
.backCircle {
  height: 55px;
  width: 55px;
  /* background-color: #555; */
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 70px;
  left: 25px;
  text-align: center;

  /* border: 1px solid #4f439a; */
}

.circleTxt {
  color: rgba(79, 67, 154, 0.5);
  font-family: bold;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
  margin-left: 15px;
}

.termsNcondition {
  color: #1a1a1a;
  font-family: regular;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}

.signUpButton {
  width: 100%;
  height: auto;
  background-color: #4f439a;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  /* margin-right: 5px; */
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
}

.logInTxt {
  color: #4f439a;
  font-family: bold;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

.accountTxt {
  color: #ad5da3;
  font-family: regular;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

.starInTxt {
  color: black;
  font-family: regular;
  font-size: 14px;
  line-height: 22px;
  display: inline-block;
}

.minChar {
  margin-top: 15px;
}

fieldset {
  padding-top: 15px;
  border-top: 1px solid rgba(127, 127, 127, 0.5);
  border-left: none;
  border-bottom: none;
  border-right: none;
  text-align: center;
  width: 750px;
  /* margin-left: 120px; */
  color: rgba(127, 127, 127, 0.5);
  font-size: 12px;
  font-weight: bold;
}

.button {
  height: 22px;
  width: 140px;
  color: rgba(79, 67, 154, 0.5);
  font-family: bold;
  font-size: 14px;
  line-height: 22px;
}
