.commonContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 80px;
  padding-left: 20px;
}

.img {
  display: inline-block;
  margin-right: 0px;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.name {
  color: #1a1a1a;
  font-family: bold;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.unblock {
  color: #4f439a;
  font-family: bold;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
}
