.base {
  width: 100%;
  height: 100%;
}

.topSection {
  width: 100%;
  height: 650px;
  min-height: 650px;
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.carousalSection {
  overflow: visible;
  position: relative;
}

.carousel {
  position: relative;
  max-width: 1200px;
  max-height: 650px;
  margin: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.opactityWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 730px;
  background: rgb(0, 0, 0, 0.2);
  z-index: 0;
}

.navButtonSection {
  position: absolute;
  bottom: 0;
  padding: 19px 25px;
  width: 100%;
  height: auto;
  text-align: center;
  background: rgba(26, 26, 26, 0.2);
  z-index: 1;
}

.navButton {
  border-radius: 5px;
  background-color: rgba(127, 127, 127, 0.4);
  height: 76px;
  text-align: left;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 60px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  line-height: 24px;
  width: 245px;
  padding: 15px 0 0 30px;
}

.innerTriangle {
  transform: rotate(45deg);
  background-color: #ad5da3;
  width: 40px;
  height: 40px;
  top: 20px;
  left: -30px;
  position: absolute;
  border-radius: 0;
}

.navButton:last-child {
  margin-right: 0px;
}

.slideshowContainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: inline-block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.text {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  z-index: 1;
}

.title {
  font-size: 40px;
  font-weight: bold;
  line-height: 56px;
  margin-bottom: 20px;
}
.subText {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 36px;
}
.link {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin-left: 40px;
  border-bottom: 3px dotted;
}
.buttonSection {
  display: flex;
  align-items: center;
}
