.base {
  max-width: 1200px;
  margin: auto;
}

.linkText {
  padding: 0px 24px;
  font-size: 14px;
  border: 1px solid #ffff;
  width: 100px;
  border-radius: 50%;
  background: #fff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: bold;
  cursor: pointer;
  color: #1a1a1a;
  box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
}

.moreHolder {
  width: 100%;
  height: 100vh;
  background: #ebeced;
}

.more {
  height: auto;
  background: #ebeced;
  margin-top: 120px;
}

.headerBase {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.25);
  padding: 0px 5px;
}

.logoHolder {
  display: flex;
  flex-wrap: wrap;
}

.border {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 16px;
  padding: 15px 0px;
  font-family: bold;
}

.fixedHeader {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 1;
  background: #fff;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .base {
    height: 100%;
  }
  .sliderWrapper {
    height: 100%;
  }
  .navHolder {
    bottom: 10px;
    left: 0px;
  }
  .label {
    font-size: 12px;
    padding: 10px 0px;
    text-align: center;
  }
  .border {
    padding: 30px 10px;
    width: 33.3%;
  }
  .linkText {
    padding: 0px;
    font-size: 14px;
    border: 1px solid #ffff;
    width: 60px;
    border-radius: 50%;
    background: #fff;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: bold;
    cursor: pointer;
    color: #1a1a1a;
  }
}
