.headerBase {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.25);
  padding: 0px 5px;
}
.headerHolder {
  max-width: 1400px;
  margin: auto;
}
.logoLinkHolder {
  width: 50%;
  display: inline-block;
}
.logoHolder {
  width: 192px;
  height: 40px;
  align-items: center;
  background: url("../../images/tsim_logo.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.buttonSearchholder {
  width: 50%;
  display: inline-block;
}
.logoHolder {
  width: 30%;
  height: 40px;
  align-items: center;
  display: inline-block;
}
.linkText {
  padding: 0px 15px;
  font-size: 14px;
  display: inline-block;
  font-family: bold;
  color: #1a1a1a;
}
.search {
  padding: 15px 5px 15px 0px;
  width: auto;
  display: inline-block;
}
.login {
  display: inline-block;
}
.signup {
  margin-left: -4px;
  display: inline-block;
}
.linkHolder {
  display: inline-block;
  width: 70%;
}
.buttonHolder {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1025px) {
  .linkText {
    font-size: 12px;
  }
}
