.headerBase {
  width: 100%;
  height: 80px;
}
.headerHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.25);
}
.logoHolder {
  width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.linkText {
  padding: 0px 15px;
  font-size: 14px;
  display: inline-block;
}
.search {
  padding: 15px 0px;
  width: auto;
}
.login {
  padding-left: 70px;
  display: inline-block;
}
.signup {
  margin-left: -4px;
  display: inline-block;
}
.linkHolder {
  display: inline-block;
}
.buttonHolder {
  display: inline-block;
}
