.base {
  display: inline-block;
  padding: 0px 25px;
}
.iconHolder {
  display: inline-block;
  vertical-align: middle;
}
.text {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
