.cardBase {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  border-radius: 15px;
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
}

.homeCardBase {
  composes: cardBase;
  box-shadow: none;
}

.profileHolder {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0;
}

.tagBase {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px 20px;
}

.tagContainer {
  display: flex;
}

.tags {
  width: auto;
  height: auto;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0px 5px 0px 0px;
  font-size: 10px;
  font-family: bold;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.storiesImage {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}

.contentContainer {
  width: 100%;
  height: auto;
  padding: 20px;
}

.contentHeading {
  color: #1a1a1a;
  font-size: 20px;
  font-family: bold;
  line-height: 28px;
  margin-bottom: 10px;
}

.username {
  color: #232323;
  font-size: 14px;
  line-height: 22px;
}

.or {
  margin: 0px 10px;
}

.actionBarConatiner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ebeced;
}

.actionsHolder {
  display: flex;
}

.action {
  margin-right: 50px;
}

/* For Homepage */

.homeCardbase {
  composes: cardBase;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.homeStoryImage {
  composes: storiesImage;
  width: 100%;
  height: 250px;
}

.homeContentHeading {
  composes: contentHeading;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
