.cardBase {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  border-radius: 15px;
}
.profileHolder {
  position: relative;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  top: 0;
}
.tagBase {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 10px 20px;
}
.tagContainer {
  display: flex;
}
.tags {
  width: auto;
  height: auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 0px 5px 0px 0px;
  font-size: 10px;
  font-family: bold;
  line-height: 18px;
  text-align: center;
}

.storiesImage {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
}
.contentContainer {
  width: 100%;
  height: auto;
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #ececec;
}
.contentHeading {
  color: #1a1a1a;
  font-size: 20px;
  font-family: bold;
  line-height: 28px;
  margin-bottom: 10px;
}
.username {
  color: #232323;
  font-size: 14px;
  line-height: 22px;
}
.or {
  margin: 0px 10px;
}
.actionBarConatiner {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 15px;
  padding-left: 39px;
}
.actionsHolder {
  display: flex;
}
.action {
  margin-right: 50px;
}
.wishlist {
  color: #7f7f7f;
  font-family: "semibold";
  font-size: 12px;
  line-height: 17px;
  position: relative;
}
.wishlist::after {
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: url("../../images/Bookmark_off.svg");
  background-position: center;
  background-size: cover;
}
.likes {
  color: #7f7f7f;
  font-family: "semibold";
  font-size: 12px;
  line-height: 17px;
  position: relative;
  margin-right: 50px;
}
.likes::before {
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: url("../../images/Staroff.svg");
  background-position: center;
  background-size: cover;
}
.comment {
  color: #7f7f7f;
  font-family: "semibold";
  font-size: 12px;
  line-height: 17px;
  position: relative;
  margin-right: 50px;
}
.comment::before {
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: url("../../images/Comment.svg");
  background-position: center;
  background-size: cover;
}
.share {
  color: #7f7f7f;
  font-family: "semibold";
  font-size: 12px;
  line-height: 17px;
  position: relative;
}
.share::before {
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: -20px;
  background: url("../../images/Sharefill.svg");
  background-position: center;
  background-size: cover;
}
