.cardBase {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
}

.storiesImage {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
}
.contentContainer {
  width: 100%;
  height: auto;
  padding: 20px 20px 10px 20px;
}
.contentHeading {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 10px;
}
.username {
  color: #232323;
  font-size: 14px;
  line-height: 22px;
}
.or {
  margin: 0px 10px;
}
.actionBarConatiner {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.actionsHolder {
  display: flex;
}
.action {
  margin-right: 50px;
}
