.cardBase {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

.storiesImage {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
}

.contentContainer {
  width: 100%;
  height: auto;
  padding: 20px 20px 10px 20px;
}

.contentHeading {
  color: #1a1a1a;
  font-size: 20px;
  font-family: bold;
  line-height: 28px;
  margin-bottom: 15px;
}

.time,
.date,
.location {
  font-size: 14px;
  font-family: regular;
  line-height: 20px;
  margin-bottom: 10px;
}

.icons {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.timeImage {
  composes: icons;
  background: url("../../images/time.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.dateImage {
  composes: icons;
  background: url("../../images/Date.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.locationImage {
  composes: icons;
  background: url("../../images/Location-white.svg") no-repeat;
  background-position: center;
  background-size: cover;
}
.eventLabelContainer {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.tags {
  box-sizing: border-box;
  height: auto;
  color: #fff;
  width: auto;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: rgba(26, 26, 26, 0.6);
  padding: 5px 15px;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: bold;
  line-height: 20px;
}

.imageBase {
  position: relative;
}
