.cardBase {
  width: 100%;
  height: auto;
  border: 1px solid #ececec;
  border-radius: 15px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2);
}

.storiesImage {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
}

.contentContainer {
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.contentHeading {
  color: #1a1a1a;
  font-size: 20px;
  font-family: bold;
  line-height: 28px;
  margin-bottom: 15px;
}

.homeheadingtext {
  composes: contentHeading;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  display: block;
  font-size: 14px;
  font-family: regular;
  line-height: 20px;
  margin-bottom: 10px;
}

.time {
  display: block;
  font-size: 14px;
  font-family: regular;
  line-height: 20px;
  margin-bottom: 10px;
}

.location {
  font-size: 14px;
  font-family: regular;
  line-height: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.icons {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.timeImage {
  composes: icons;
  background: url("../../images/time.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.dateImage {
  composes: icons;
  background: url("../../images/Date.svg") no-repeat;
  background-position: center;
  background-size: cover;
}

.locationImage {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../../images/Location-white.svg") no-repeat;
  background-position: center;
  background-size: contain;
  /* width: 10%; */
  position: relative;
}

.homeLocationImage {
  composes: locationImage;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  background-position: center;
  background-size: contain;
}

.homeLocationText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.locationText {
  width: 80%;
  position: absolute;
  top: 0;
  left: 25px;
}

.eventLabelContainer {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.tags {
  box-sizing: border-box;
  height: auto;
  color: #fff;
  width: auto;
  border: 1px solid #000000;
  border-radius: 15px;
  background-color: rgba(26, 26, 26, 0.6);
  padding: 5px 15px;
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: bold;
  line-height: 20px;
}

.imageBase {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .storiesImage {
    height: 154px;
  }

  .homeheadingtext {
    font-size: 16px;
    line-height: 24px;
  }
  .time,
  .date,
  .location {
    font-size: 14px;
    line-height: 14px;
  }
  .cardBase {
    padding: 15px;
  }

  .tags {
    font-size: 10px;
    font-family: bold;
    line-height: 18px;
    padding: 5px;
  }
}
