.main {
  overflow: visible;
  position: relative;
}

.base {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.slider {
  width: 100%;
  height: auto;
  display: inline-block;
  white-space: nowrap;
  transition: 0.3s;
}
.item {
  width: 33.33%;
  height: auto;
  display: inline-block;
  white-space: normal;
  padding: 0 10px;
}

.item:first-child {
  padding-left: 0;
}

.item:last-child {
  padding-right: 0;
}

.forward {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  right: -15px;
  bottom: 0;
  top: 0;
  margin: auto;
  border-radius: 50%;
  background: #fff url("../../images/forward-color.svg") no-repeat;
  background-size: 40%;
  background-position: center;
  transform: rotate(0deg);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.back {
  composes: forward;
  transform: rotate(180deg);
  right: initial;
  left: -15px;
}

@media screen and (max-width: 1024px) {
  .base {
    overflow: hidden;
  }

  .item {
    width: 45%;
  }

  .slider {
    overflow-x: scroll;
    padding-bottom: 20px;
    margin-bottom: -20px;
    -webkit-overflow-scrolling: touch;
  }
  .forward {
    display: none;
  }
  .item:first-child {
    margin-left: 15px;
  }
  .item:last-child {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .item {
    width: 25%;
  }
  .slider {
    transition: none;
  }
}
