.main {
  width: 100%;
  height: auto;
  max-width: 1000px;
  min-height: auto;
  position: relative;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.closeButtonHolder {
  width: 60px;
  height: auto;
  cursor: pointer;
  opacity: 0.8;
  transition: 300ms;
  display: inline-block;
  top: 20px;
  right: 10px;
  position: absolute;
  background-size: cover;
  padding-top: 30px;
}
.closeButtonHolder :before {
  content: "";
  width: 25px;
  height: 25px;
  background: url("../images/close-black.svg") no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}
.closeButtonHolder:hover {
  opacity: 1;
}
.closeText {
  color: #212121;
  font-size: 12px;
  letter-spacing: 0.21px;
  width: 100%;
  font-family: semibold;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .closeButtonHolder {
    right: 0px;
  }
  .closeButtonHolder :before {
    background: url("../images/close-grey.svg") no-repeat;
    background-size: 100%;
  }
  .main {
    width: 100%;
    max-width: 1000px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    position: fixed;
    top: 0;
    margin: auto;
    bottom: 0;
    max-height: initial;
  }
  .login {
    position: initial;
    width: auto;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    min-height: 665px;
    background: #fff;
    position: relative;
    border-radius: 5px;
    display: inline-block;
  }
}
