.base {
  height: auto;
  position: fixed;
  left: 25%;
  top: 25%;
  transform: translateY(100%);
  animation: slideInUp 200ms forwards;
}
.base:before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: -40px;
  pointer-events: none;
  background: url("./Images/canceltransperent.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.crossIconHide {
   height: auto;
  position: fixed;
  left: 25%;
  top: 25%;
  transform: translateY(100%);
  animation: slideInUp 200ms forwards;
}
.crossIconHide:before {
  display: none;
}
.content {
  width: 100%;
  height: auto;
}
@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}