.base {
  height: auto;
  width: auto;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
}

.connrequests {
  width: 100%;
  color: #1a1a1a;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  padding: 18px 20px;
}

.requestSent {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  text-align: center;
}

.rows {
  display: inline-block;
  color: #4f439a;
  font-family: bold;
  padding: 10px 25px;
  width: 50%;
}

.picture {
  height: 45px;
  width: 45px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
}
.container {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 15px;
}

.main {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0;

  border-bottom: 1px solid black;
  align-items: end;
}

.bipart {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: baseline;
  padding-left: 15px;
}

.maining {
  display: inline-block;
  vertical-align: middle;
}

.textBase {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.textHighLight {
  composes: textBase;
  display: block;
  color: #1a1a1a;
}

.subTextHighLight {
  composes: textBase;
  display: block;
  color: #7f7f7f;
}

.imagebase {
  margin: 8px 0;
  display: flex;
}

.button {
  display: inline-block;
  vertical-align: middle;
}

.button:first-child {
  margin-right: 15px;
}

.buttonSection {
  display: inline-block;

  text-align: center;
  height: auto;
  padding-top: 15px;
}

.requestSent {
  display: flex;
}

.requestSection {
  border-radius: 5px;
}

.loadMore {
  margin: 25px 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.loadMoreText {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #4f439a;
  border-radius: 5px;
  padding: 10px 20px;
  color: #4f439a;
}
