.base {
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  padding-top: 7px;
  user-select: none;
  cursor: pointer;
}
.label {
  width: 100%;
  height: auto;
  color: rgba(51, 51, 51, 0.5);
  font-size: 18px;
  font-family: bold;
  transition: 300ms;
  line-height: 26px;
}
.label:after {
  content: "";
  width: auto;
  height: 2px;
  background: #4f439a;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  margin: auto;
  transform: scaleX(0);
  transition: 300ms;
}
.selected {
  composes: label;
  color: #4f439a;
}
.selected:after {
  transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .label {
    font-size: 17px;
    line-height: 25px;
  }
  .selected:after {
    width: 65px;
  }
}
