.base {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50vw;
  height: 100vh;
  float: right;
  background: #ffffff;
  animation: slideInLeft 200ms forwards;
}
.base:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: -40px;
  pointer-events: none;
  background: url("../../../images/Cross.svg") no-repeat;
  background-position: center;
}
.crossIconHide {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideInUp 200ms forwards;
}
.crossIconHide:before {
  display: none;
}
.content {
  width: 100%;
  height: auto;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media only screen and (max-width: 1024px) {
  .base {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: fixed;
  }
}
