.base {
  cursor: pointer;
  position: relative;
}
.square {
  cursor: pointer;
  position: relative;
}
.base:after,
.base:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 300ms;
}
.square:after,
.square:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: 300ms;
}
.base:after {
  background: url(./img/checkbox-untick.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.base:before {
  background: url(./img/checkbox-tick.svg) no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
}
.square:after {
  background: url(./img/checkboxdisabled.svg) no-repeat;
  background-size: contain;
  background-position: center;
}
.square:before {
  background: url(./img/checkboxenabled.svg) no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
}
.selected {
  composes: base;
}
.checked {
  composes: square;
}
.checked:after {
  opacity: 0;
}
.checked:before {
  opacity: 1;
}
.selected:after {
  opacity: 0;
}
.selected:before {
  opacity: 1;
}
