.base {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0px 5px;
  display: inline-block;
  position: relative;
}
.baseNoPadding {
  composes: base;
  padding: 5px 0px 5px 0px;
}
.textHolder {
  width: 100%;
  height: auto;
  font-family: semibold;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
}
.iconHolder {
  width: 30px;
  height: 30px;
  left: 20px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1025px) {
  .textHolder {
    font-size: 13px;
  }
  .base {
    background-color: unset;
  }
}
