.base {
  width: auto;
  height: auto;
  border: 1px solid #ebeced;
  border-radius: 12px;
  padding: 64.33px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 25px;
}

.base:nth-child(even) {
  margin: 0 25px;
  margin-top: 25px;
}

.addprofileImage {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  background: url("../images/Add-Fill-color.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.profileImage {
  composes: addprofileImage;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.milestoneTitle {
  color: #4f439a;
  font-family: bold;
  font-size: 16px;
  font-family: bold;
  line-height: 24px;
  text-align: center;
}

.joining {
  color: #333333;
  font-family: regular;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.milestoneEmptyText {
  color: #1a1a1a;
  font-family: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding-top: 20px;
}
