.base {
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.image {
  width: 100%;
  height: 100%;
  background-position: center;
}
.size1 {
  composes: base;
  width: 40px;
  height: 40px;
  font-size: 12px;
}
.size2 {
  composes: base;
  width: 60px;
  height: 60px;
  font-size: 14px;
}
.size3 {
  composes: base;
  width: 80px;
  height: 80px;
  font-size: 18px;
}
.size4 {
  composes: base;
  width: 150px;
  height: 150px;
  font-size: 26px;
}
.initials {
  width: 100%;
  height: 100%;
  background: #ebeced;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: semibold;
  letter-spacing: 0.2em;
}
