.container {
  width: 100%;
  height: auto;
}
.textAreaBox {
  width: 100%;
  border: 1px solid #d2d2d2;
  padding: 10px;
  resize: none;
  font-size: 14px;
  font-family: light;
  border-radius: 2px;
  color: #000000;
}
.textAreaBox:focus {
  outline: none;
}
.textAreaBox:placeholder {
  color: #8d8d8d;
}
@media only screen and (min-width: 1025px) {
  .textAreaBox::-webkit-input-placeholder {
    font-family: light;
  }
}
