.base {
  width: auto;
  position: relative;
  user-select: none;
  display: inline-block;
  padding-bottom: 5px;
  color: #212121;
  font-size: 14px;
  font-family: light;
  user-select: none;
  cursor: pointer;
}
.disabled {
  composes: base;
  opacity: 0.5;
  pointer-events: none;
}
.underline {
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #212121;
}
