.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: auto;
  padding: 20px 0px 40px 0px;
}

.headerHolder {
  padding-bottom: 20px;
}

.bannerContainer {
  width: 100%;
  height: 500px;
}

.banner {
  width: 100%;
  height: 100%;
  background: url(../Images/b.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  align-items: center;
}

.contentContainer {
  width: 100%;
  height: auto;
}

.heading {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 32px;
  font-family: bold;
  line-height: 36px;
  margin-bottom: 10px;
}

.content {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 28px;
  max-width: 500px;
  margin-bottom: 30px;
}

.aboutBase {
  width: 100%;
  height: 400px;
  display: inline-block;
  margin: 50px 0px;
}

.aboutConatiner {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.videoContainer {
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.aboutContent {
  width: 100%;
  padding-top: 40px;
  height: 100%;
}

.questionContainer {
  font-family: "Open Sans";
  font-size: 28px;
  font-family: bold;
  line-height: 36px;
  margin-bottom: 5px;
}

.question {
  color: #212121;
}

.quetionWithColor {
  color: #ad5da3;
}

.answer {
  color: #212121;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 26px;
  max-width: 450px;
}

.buttonContainer {
  width: 100%;
  height: auto;
  margin-top: 75px
}

.signUpBarContainer {
  margin: 20px 0px;
}

.fixedHeader {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  transition: 0.5s;
  z-index: 1;
  background: #fff;
  z-index: 2;
}