.baseContainer {
  width: 100%;
  height: auto;
  margin-top: 5%;
  padding: 273px 107px 0 107px;
}

.welTxt {
  display: block;
}

.forgetPwd {
  color: #4f439a;
  font-family: bold;
  font-size: 22px;
  display: inline-block;
}

.stayConnected {
  color: #7f7f7f;
  font-family: bold;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

.emailAddress {
  width: 100%;
  /* margin-right: 30px; */
  height: auto;
  border-radius: 5px;
  border: 1px solid rgba(127, 127, 127, 0.5);
  margin-top: 15px;
}
.loginButton {
  width: 100%;
  height: auto;
  background-color: #4f439a;
  border-radius: 5px;
  display: inline-block;
  padding: 9px 25px 9px 25px;
  /* margin-right: 5px; */
  color: white;
  text-align: center;
  margin: 15px 0 15px 0;
}
.bckToLogin {
  color: #4f439a;
  font-family: regular;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}

.MobileBaseContainer {
  width: 100%;
  height: auto;
  padding: 200px 10px 0 10px;
}
