.baseContainer {
    height: auto;
    width: 100%;
    /* padding-right: 132px; */
    /*  */
  }
  
  .container {
    height: auto;
    display: flex;
  }
  
  .profileContainer {
    /* box-sizing: border-box; */
    height: auto;
    width: 70%;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    margin-left: 0px;
    /* margin: 30px 132px 0 480px; */
    margin-top: 30px;
    /* margin-right: 200px; */
    position: relative;
    display: inline-block;
  }
  
  .settingsContainer {
    height: auto;
    width: 25%;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
    margin-left: 120px;
    /* margin: 30px 132px 0 480px; */
    margin-top: 30px;
    /* margin-right: 200px; */
    position: relative;
    display: inline-block;
  }
  .headerHolder {
    padding-bottom: 20px;
  }
  
  .myProfile {
    color: #1a1a1a;
    font-family: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 21px 0 21px 21px;
  }
  
  .lineSeparator {
    box-sizing: border-box;
    height: 1px;
    width: 100%px;
    border: 1px solid #b2b2b2;
    
  }
  .nameContainer {
    width: 100%;
    padding: 20px;
  }
  .name {
    color: #1a1a1a;
    font-family: bold;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  
  .buttonContainer {
    /* width: 50%;
    float: right;
    margin: 20px 20px 20px 0; */
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */
    margin: 20px 20px 20px 0;
    float: right;
  }
  
  .saveButton {
    /* width: 50%; */
    border-radius: 5px;
    color: #4f439a;
    font-family: bold;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }
  
  .cancelButton {
    /* width: 50%; */
    color: #4f439a;
    font-family: bold;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }
  