.dataHolderWrapper {
  width: 100%;
  height: auto;
  position: relative;
  min-height: 100vh;
  padding: 0px 25% 0px 25%;
}
.leftSidePannel {
  width: 25%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding: 15px;
}
.dataDiv {
  width: 100%;
  height: 300px;
  border: 1px solid black;
  margin-bottom: 25px;
}
.rightSidePannel {
  width: 25%;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
}
.centerSection {
  width: 100%;
  height: auto;
  min-height: 400px;
  padding: 15px 20px 0px 15px;
}
.caurosel {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: inline-block;
  border: 1px solid red;
}
.cauroselData {
  width: 100%;
  height: 300px;
  display: inline-block;
  color: red;
}
.slider {
  width: 100%;
  height: auto;
  transition: 300ms;
  white-space: nowrap;
}
.forwrdBack {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
}
.forward {
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.back {
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
