.base {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
}
.container {
  width: 100%;
  height: auto;
  padding: 20px;
}
.profileHolder {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.profilePic {
  width: 50px;
  height: 50px;
}
.profileImage {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.profileDetails {
  width: auto;
  height: auto;
  padding-left: 12px;
}
.profileName {
  height: 20px;
  width: 114px;
  color: #1a1a1a;
  font-family: "bold";
  font-size: 14px;
  line-height: 20px;
}
.profileDesignation {
  color: #7f7f7f;
  font-family: "regular";
  font-size: 14px;
  line-height: 16px;
}
.profileAddress {
  color: #7f7f7f;
  font-family: "regular";
  font-size: 14px;
  line-height: 16px;
}
.mutualConnectionInfoDetails {
  width: 100%;
  height: auto;
  padding: 6px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b2b2b2;
  border-top: 1px solid #b2b2b2;
}
.mutualConnectionImages {
  display: flex;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #ececec;
  border-radius: 50%;
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
}
.more {
  height: 25px;
  width: 25px;
  background-color: #ebeced;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  font-size: 12px;
}
.mutualConnectionInfo {
  color: #7f7f7f;
  font-family: "semibold";
  font-size: 8px;
  line-height: 16px;
  padding-left: 10px;
}
.buttonContainer {
  display: flex;
}
.expertDetailsContainer {
  width: 100%;
  height: auto;
  margin-top: 12px;
}
.expertHeading {
  color: #7f7f7f;
  font-family: "semibold";
  font-size: 8px;
  line-height: 12px;
}
.tagContainer {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 10px;
}
.tag {
  width: auto;
  height: auto;
  padding: 5px;
  border: 1px solid #b2b2b2;
  border-radius: 15px;
  color: #1a1a1a;
  font-family: "bold";
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  margin-right: 5px;
}
