.base {
    width: 100%;
    height: 100%;
    text-align: center;
     }
  
  .baseWrapper {
    width: 100%;
    height: auto;
    background: #fff;
    transform: translateY(100%);
    animation: slideUp 300ms ease-in forwards;
   
  }
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  .sliderWrapper {
    width: 100%;
    height: auto;
  }
  .topContainer {
    width: 100%;
    height: auto;
    padding-bottom: 91.6%;
    display: inline-block;
    position: relative;
   
  }
  .innerImage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  }
  