.base {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 34px 131px 44px 95px;
}
.showCross {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 40px;
  pointer-events: none;
  background: url("../Images/canceltransperent.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.baseWrapper {
  width: 750px;
  height: 395px;
  background: #fff;
  animation: slideUp 300ms ease-in forwards;
  border-radius: 10px;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.sliderWrapper {
  width: 100%;
  height: auto;
}
.topContainer {
  width: 100%;
  height: auto;
  padding-bottom: 66%;
  display: inline-block;
  position: relative;
  padding-top: 14px;
}
.innerImage {
  width: 100%;
  height: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .baseWrapper {
    width: 100vw;
    height: 100vh;
  }
  .base {
    padding: 10%;
  }
  .sliderWrapper {
    height: 100%;
  }
  .topContainer {
    height: 100%;
  }
}
