.baseWrappper
{
    width: 180px;
    height: auto;
    background-color: 
    #FFFFFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
   
}
.baseWrappper ul
{
    list-style: none;
  
    padding-left: 0px;
    color: #1A1A1A;	
    font-size: 12px;
    	line-height: 17px;
}
.baseWrappper ul li
{
 border-bottom: 1px solid  rgba(0,0,0,0.2);   
    padding-top: 16px;
    display: flex;
    padding-bottom: 10px;
    
}
.baseWrappper ul li div
{
    margin-left: 14px;
   margin-right: 10px;
    
}
.icon
{
    width: 18px;
    height: 18px;
    background: url(/static/media/Info_Line.72f43f5f.svg);
    background-position: center;
    background-size: cover;
  
}