.base {
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow: auto;
    padding: 20px 0px 40px 0px;
    background: #ececec;
}
  .headerHolder {
   
  }
  .bannerContainer {
    width: 100%;
    height: 100%;
  }
  .banner {
    width: 100%;
    height: 100%;
    background: url(../Images/b.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
    display: flex;
    align-items: center;
  }
  .contentContainer {
    width: 100%;
    height: auto;
  }
  .heading {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: bold;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .content {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 28px;
    max-width: 500px;
    margin-bottom: 30px;
  }
  .buttonHolder {
    display: flex;
  }
  .button {
    margin-right: 20px;
  }

  .filterBase{
      width: 100%;
      height: auto;
      padding: 25px 120px;
      background: #ffffff;

  }
  .tagAndFilter{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
  }
 
  .filterButtonContainer{
    display: inline-block;
    width: 53%;
    height: auto;
  }
  .fliterButton{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.recommendedEvents {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recommendedEventsHeading {
  color: #1a1a1a;
  font-family: "bold";
  font-size: 18px;
  line-height: 24px;
}
.storiesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  width: calc((100% / 3));
  padding: 22.5px;
  padding-left: 0px;
  flex-shrink: 0;
  display: flex;
  cursor: pointer;
}
@media only screen and (max-width: 1024px) {
  .card {
    width: 100%;
    padding: 10px 0;
  }

  
  @media only screen and (max-width: 1024px) {
    .card {
      width: 100%;
      padding: 10px 0;
    }
    .container {
      padding: 0 43px;
    }
  }
}

