.base {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: auto;
}
.headerHolder {
  padding-bottom: 20px;
}
.container {
  width: 100%;
  height: auto;
  padding: 20px 0x;
}
.bannerBase {
  width: 100%;
  height: 500px;
  display: inline-block;
}
.bannerContainer {
  width: 60%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.splitbannerContainer {
  width: 40%;
  height: 100%;
  display: inline-block;
  padding-left: 5px;
  vertical-align: top;
}
.banner {
  width: 100%;
  height: 100%;
  background: url(../Images/b.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  align-items: flex-end;
}
.bannerContentBase {
  width: 100%;
  height: auto;
}
.tagButton {
  width: 120px;
  height: 25px;
  background: #7f7f7f;
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-size: 10px;
  font-family: bold;
  justify-content: center;
}
.heading {
  margin: 10px 0px;
  width: 100%;
  height: auto;
  font-size: 26px;
  color: #fff;
  font-family: bold;
  line-height: 32px;
  max-width: 340px;
}
.task {
  width: 100%;
  height: auto;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  font-family: 600;
  margin-bottom: 10px;
}
.dot {
  height: 3px;
  width: 3px;
  background-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
.description {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 10px;
}
.button {
  width: 140px;
  height: 45px;
  background: rgba(249, 249, 249, 0.25);
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-family: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splitbanner1 {
  width: calc(100% - 5px);
  height: calc(50% - 5px);
  background: url(../Images/f.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
}
.splitbannerHeading {
  composes: heading;
  font-size: 18px;
  line-height: 24px;
}
.splitbanner2 {
  composes: splitbanner1;
  height: 50%;
  background: url(../Images/p.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
}

.storiesBase {
  width: 100%;
  height: auto;
}
.storiesHeading {
  width: 100%;
  height: auto;
  color: #4f439a;
  font-family: bold;
  line-height: 22px;
  font-size: 16px;
  margin-top: 30px;
}
.storiesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  width: calc((100% / 3));
  padding: 22.5px;
  padding-left: 0px;
  flex-shrink: 0;
  display: flex;
}
.signupHolder {
  width: 100%;
  height: auto;
  padding: 50px;
  background: #4f439a;
  border-radius: 10px;
}
.signUpContainer {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.signup {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.signupText {
  height: auto;
  width: 100%;
  color: #ffffff;
  font-size: 32px;
  font-family: bold;
  line-height: 40px;
  margin-bottom: 5px;
}
.subText {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
}
.imageHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.inputHolder {
  width: 72%;
  background: #fff;
  border-radius: 4px;
  margin-top: 40px;
}
.signUpImage {
  width: 100%;
  height: 250px;
}
@media only screen and (max-width: 1024px) {
  .card {
    width: 100%;
    padding: 10px 0;
  }
  .container {
    padding: 0 43px;
  }
}
