.signupHolder {
  width: 100%;
  height: auto;
  padding: 50px;
  background: #4f439a;
  border-radius: 10px;
}
.signUpContainer {
  display: inline-block;
  width: 100%;
  height: auto;
  vertical-align: top;
}
.signup {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.signupText {
  height: auto;
  width: 100%;
  color: #ffffff;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 5px;
}
.subText {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 24px;
}
.imageHolder {
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.inputHolder {
  width: 72%;
  background: #fff;
  border-radius: 4px;
  margin-top: 40px;
}
.signUpImage {
  width: 100%;
  height: 250px;
}
.inputBase {
  margin-top: 40px;
  width: 100%;
  height: auto;
}
.inputContainer {
  width: 100%;
  height: 60px;
  background: #fff;
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding: 5px 5px 5px 20px;
}
.inputWithButton {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.inputHolder {
  width: 75%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}
.input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.buttonHolder {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ad5da3;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}
